Data Types

Python has four main built-in data structures

1. List
2. Tuple
3. Disctionary
4. Set

1. List: A list is an ordered collection that can hold any type of data. 
- Uses square brackets []. 
- It is mutable (changeable)

In [2]:
fruits = ["apples", "banana", "mango"]

In [3]:
fruits[0]

'apples'

In [4]:
fruits[1]

'banana'

In [6]:
fruits[-1]

'mango'

In [7]:
type(fruits)

list

In [9]:
fruits_list = ["apples", "banana", "mango", "oranges", "passion", "pineaple"]

In [10]:
fruits_list

['apples', 'banana', 'mango', 'oranges', 'passion', 'pineaple']


Positive and Negative Indices:

In [11]:
fruits_list[4]

'passion'

In [14]:
fruits_list[-2]

'passion'


Slicing: Return copy of a subset

In [15]:
fruits_list[0:2] # Range

['apples', 'banana']

In [16]:
fruits_list[:4] # To index 4

['apples', 'banana', 'mango', 'oranges']

In [18]:
fruits_list[3:] # From index 3

['oranges', 'passion', 'pineaple']


Copying the Whole Sequence

In [19]:
fruits_list[:] # All

['apples', 'banana', 'mango', 'oranges', 'passion', 'pineaple']

In [20]:
fruits_list[:-1] # All upto the last

['apples', 'banana', 'mango', 'oranges', 'passion']


Reversing the order

In [21]:
fruits_list[::-1] # Reverse order

['pineaple', 'passion', 'oranges', 'mango', 'banana', 'apples']


Replacing an item in the list

In [22]:
fruits_list[2]="kiwi" # Replace

In [23]:
fruits_list

['apples', 'banana', 'kiwi', 'oranges', 'passion', 'pineaple']


IN Operator

In [25]:
"mango" in fruits_list

False

In [26]:
"pineaple" in fruits_list

True


Combining two lists

In [28]:
fruits_list2 = ["watermelon", "guava"]

In [29]:
combined_lists = fruits_list + fruits_list2

In [30]:
combined_lists

['apples',
 'banana',
 'kiwi',
 'oranges',
 'passion',
 'pineaple',
 'watermelon',
 'guava']


Multiplying a list

In [32]:
fruits_list2*3

['watermelon', 'guava', 'watermelon', 'guava', 'watermelon', 'guava']

In [33]:
fruits_list*2

['apples',
 'banana',
 'kiwi',
 'oranges',
 'passion',
 'pineaple',
 'apples',
 'banana',
 'kiwi',
 'oranges',
 'passion',
 'pineaple']

2. Tuple: A simple immutable (unchangeable) ordered sequence of items
- Items can be of mixed types, including collection types
- Uses parentheses ()
- Items are accessed using their position in the tuple
- It is ordered

In [40]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [41]:
tu[2] # Item on index 2

4.56

In [42]:
tu[-1] # Last item on the list

'def'

In [43]:
tu[::-1] # Reverse order

('def', (2, 3), 4.56, 'abc', 23)

In [44]:
type(tu)

tuple


Slicing

In [45]:
tu[1:4] # Slice from index 1 to 3

('abc', 4.56, (2, 3))

In [46]:
tu[1:] # Slice from index 1 to last item

('abc', 4.56, (2, 3), 'def')


3. Dictionaries: Data structures which are used to store values.
    - Which are accessed by their keys.
    - Uses curly braces {}
    - Dictionaries store a mapping between a set of keys and a set of values

In [52]:
dict_1 = {'Ten': 10, 'Twenty': 20, "Thirty": 30}

In [53]:
dict_1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [54]:
type(dict_1)

dict

In [56]:
dict_1['Thirty']

30


Modifying a key

In [58]:
dict_2 = {'user': 'user1', 'PWD': '12345'}

In [59]:
dict_2['user'] = 'John'

In [60]:
dict_2

{'user': 'John', 'PWD': '12345'}


Adding Elements to a Dictionary

In [61]:
dict_2['email'] = 'john@gmail.com'

In [62]:
dict_2

{'user': 'John', 'PWD': '12345', 'email': 'john@gmail.com'}

In [63]:
dict_2['DOB'] = '1981.08.14'

In [65]:
dict_2

{'user': 'John',
 'PWD': '12345',
 'email': 'john@gmail.com',
 'DOB': '1981.08.14'}


Deleting Elements from a Dictinary

In [69]:
dict_2.pop('DOB')

'1981.08.14'

In [70]:
dict_2

{'user': 'John', 'PWD': '12345', 'email': 'john@gmail.com'}


Other functons:
* dict.clear() - Removes all the elements from dictionary dict
* dict.copy() - Returns a copy of dictionary dict
* dict.items() - Returns a list containing a tuple for each key-value pair in dictionary dict
* dict.get(k) - Returns the value of the specified key k from dictionary dict
* dict.keys() - Returns a list containing all the keys of dictionary dict
* dic.pop(k) - Removes the element with the specified key k from dictionary dict
* dic.values() - Returns a list of all the values in dictionary dict

In [72]:
dict_2.keys()

dict_keys(['user', 'PWD', 'email'])

In [73]:
dict_2.values()

dict_values(['John', '12345', 'john@gmail.com'])

In [74]:
dict_2.copy()

{'user': 'John', 'PWD': '12345', 'email': 'john@gmail.com'}


Convert two lists into a Dictionary

In [77]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [82]:
combined_dict = dict(zip(keys,values))

In [83]:
combined_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}


Merge two Python dictionaries

In [84]:
dict_1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict_2 = {'Forty': 40, 'Fifty': 50, 'Sixty': 60}

In [85]:
merged_dict = dict(**dict_1, **dict_2)
merged_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Forty': 40, 'Fifty': 50, 'Sixty': 60}

In [86]:
type(merged_dict)

dict


4. Set:
- An unordered collection of unique items
- duplicates automatically
- Uses curly braces {}, but different from dictionaries

In [87]:
fruits_set = {"bananas", "avocados"}

In [92]:
fruits_set

{'avocados', 'bananas'}

In [93]:
type(fruits_set)

set

In [94]:
"apples" in fruits_set

False

In [95]:
"avocados" in fruits_set

True

In [96]:
fruits_set.remove('avocados')

In [97]:
fruits_set

{'bananas'}


TASK:

1. Create a list called Students with names and marks for 5 students
2. Extract the name and marks of the first 3 students
3. Extract the name and marks of the last 2 students
4. Extract the name of all the students and marks
5. Extract the last item in the list
6. Create a new list called list_2 with names and marks of 2 students
7. Join the two lists and call it all_students
8. Replace the marks for the fist student with 999 and the last students with 122
9. Check using the keyword in if a certain name is in the list
10. Duplicate the new list
11. Change the list to a Tuple instead

1. Create a list called Students with names and marks for 5 students

In [242]:
Students = {'John': 78, 'Joe': 81, 'Json': 88, 'Jonah': 77, 'Joy': 86}

In [243]:
Students

{'John': 78, 'Joe': 81, 'Json': 88, 'Jonah': 77, 'Joy': 86}

2. Extract the name and marks of the first 3 students

In [244]:
first_three = list(Students.items())[:3]
for names, marks in first_three:
    print(names, marks)

John 78
Joe 81
Json 88

3. Extract the name and marks of the last 2 students

In [245]:
last_three = list(Students.items())[2:]
for names, marks in last_three:
    print(names, marks)

Json 88
Jonah 77
Joy 86

4. Extract the name of all the students and marks

In [246]:
Students

{'John': 78, 'Joe': 81, 'Json': 88, 'Jonah': 77, 'Joy': 86}

5. Extract the last item in the list

In [247]:
last_item = list(Students.items())[-1:]
for names, marks in last_item:
    print(names, marks)

Joy 86

6. Create a new list called list_2 with names and marks of 2 students

In [248]:
list_2 = {'Kelly': 82, 'Nelly': 69}

7. Join the two lists and call it all_students

In [249]:
all_students = {**Students, **list_2}
all_students

{'John': 78,
 'Joe': 81,
 'Json': 88,
 'Jonah': 77,
 'Joy': 86,
 'Kelly': 82,
 'Nelly': 69}

8. Replace the marks for the first student with 999 and the last students with 122

In [253]:
all_students['John'] = 999
all_students['Nelly'] = 122
all_students

{'John': 999,
 'Joe': 81,
 'Json': 88,
 'Jonah': 77,
 'Joy': 86,
 'Kelly': 82,
 'Nelly': 122}

9. Check using the keyword in if a certain name is in the list

In [258]:
'Joy' in all_students

True

10. Duplicate the new list

In [264]:
duplicate_list = all_students
duplicate_list

{'John': 999,
 'Joe': 81,
 'Json': 88,
 'Jonah': 77,
 'Joy': 86,
 'Kelly': 82,
 'Nelly': 122}

11. Change the list to a Tuple instead

In [268]:
Tuple = tuple(duplicate_list)
Tuple

('John', 'Joe', 'Json', 'Jonah', 'Joy', 'Kelly', 'Nelly')

In [269]:
type(Tuple)

tuple